<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Du_an_1"
        tools:targetApi="31">
        <activity
            android:name=".ActivityPhu.CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPhu.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.HotNewsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.MemberManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.AddMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.AllProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.QuanLyDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhu.OffersActivity"
            android:exported="false" />
    </application>

</manifest>